name: CI/CD
run-name: ${{ github.event.head_commit.message }} by @${{ github.actor }}

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.7'
          channel: 'stable'

      - name: Configure Flutter Build
        run: flutter config --enable-web

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Web
        run: flutter build web --release --no-tree-shake-icons --verbose

      - name: Test With Coverage
        run: flutter test --coverage